*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    background-color: #f2f4f7;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 80px;
}

.left_side {
    width:500px;
}

.left_side img {
    width:300px;
    height: auto;
}

.left_side h1 {
    padding-left: 25px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    width: 320px;
    height: auto;
}

.login_input,
.password_input {
    padding: 14px 16px;    
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    margin-bottom: 15px;
}

.login_input:focus {
    border-color: #1d9bf0;
    box-shadow: 0 0 0 2px rgba(29,155,240,0.2);
}


.login_btn {
    padding: 14px 16px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-weight: bold;
    color: white;
    background-color: #0866ff;
    transition: 0.1s;
}

.login_btn:hover {
    background-color: #2c7af6;
}

.forgot_ps {
    padding: 18px 16px;
    font-size: 12px;
    background-color: white;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.393);
    margin-bottom: 30px;
}

.forgot_ps a {
    color:#0866ff ;
}
.forgot_ps a:hover {
    text-decoration: underline;
}

.new_acc {
    padding: 18px 12px;
    border-radius: 6px;
    background-color: #42b72a;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    width:fit-content;
    margin-left: 40px;

    
}

.right_side h3 {
    margin-top: 15px;
    font-weight:400;
    font-size: 14px;
}

.right_side h3 a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.right_side h3 a:hover {
    text-decoration: underline;
}