*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: #0a3d62;
    color: white;
}

header{
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav_1 ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav_1 ul li {
    list-style: none;
}
.nav_1 ul li a {
    text-decoration: none;
    color: white;
}
.nav_1 ul li a:hover {
    text-decoration: underline;
}

.hero_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

form input {
    border:1px solid black;
    border-radius: 10px;
    width: 300px;

}

form button {
    background-color: #e58e26;
    border-radius: 10px;
}

form button:hover{
    background-color: #e58e26;
}